# Database (Neon/Supabase PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_0EYqznM6bglW@ep-flat-boat-aoq684i4-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# NextAuth
NEXTAUTH_SECRET="d062e01ffbf6538848fd5ece0bf6504ba261f86282a2f72553f8e357db13fd2d"
NEXTAUTH_URL="http://localhost:3000"

# Email (Nodemailer / SendGrid)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=abhisheksingh89208@gmail.com
SMTP_PASS=uxpk wotu cebj ihkb
EMAIL_FROM=info.cyberfun@gmail.com

# UploadThing
UPLOADTHING_SECRET="sk_live_c11f1c59e7ec0110d8df23ddee19c43672728a13eb9ca30d3fe42cca08f1c98e"
UPLOADTHING_APP_ID="9h19jg9wdh"

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_KEY="your-google-maps-api-key"

# Admin Seed
ADMIN_EMAIL="abhisheksingh89208@gmail.com"
ADMIN_PASSWORD="abhishek87"
